/* popup CSS */
.popup{
    position: fixed;
    top: 25px;
    left: 190px;
    padding: 15px 25px;
    z-index: 1;
    background-color: whitesmoke;
    /* opacity: 0.9; */
    width: 70%;
    height: 90%;
    border-radius: 25px;
    box-shadow: 2px 2px 7px 8px lightgray;

    overflow: scroll;
}

    .close_btn {
        position: absolute;
        right: 25px;
        color: #002147;
        font-size: 25px;
        cursor: pointer;
        padding: 10px;
    }

    .title{
        color: #002147;
        margin-left: 5%;
        font-size: 30px;
        letter-spacing: 5px;
        text-decoration: underline;
    }